<!DOCTYPE html>

<html ng-app>
  <head>
    <meta charset="utf-8">
    <title>AngularDartTests</title>
    <link rel="stylesheet" href="angular_intl.css">
  </head>
  <body mainScope ng-cloak>
    <h1>{{mainCtrl.i18n['title']}}</h1>


    <div>

      <div>
        <select ng-model="mainCtrl.selectedLocale" >
          <option ng-repeat="option in mainCtrl.locales" value="{{option}}">{{option}}</option>
        </select>
        Selected locale : {{mainCtrl.selectedLocale}}
      </div>

      <h1>{{mainCtrl.i18n['mainScope']}}</h1>
      <button ng-click="mainCtrl.clickMe()">{{mainCtrl.i18n['mainScopeButton']}}</button>

      <h2>{{mainCtrl.i18n['andTheMap']}}</h2>
      <p>{{mainCtrl.aMap}}</p>

      <div>
        <component1 value='mainCtrl.value' whoami='1' amap='mainCtrl.aMap'> </component1>
        <component1 value='mainCtrl.value' whoami='2' amap='mainCtrl.aMap'> </component1>
      </div>
    </div>



    <script src="packages/shadow_dom/shadow_dom.min.js"></script>
    <script type="application/dart" src="angular_intl.dart"></script>
    <script src="packages/browser/dart.js"></script>
  </body>
</html>
